<div class="container text-center">
    <div class="row align-items-start" style="margin-bottom: 20px;">
      <div class="col">
        <img src="https://veloce.in/cdn/shop/files/IMG_2459.jpg?v=1701800701&width=856" alt="" style="height: 400px; width: 600px; margin-top: 50px; ;">
      </div>
      <div class="col">
        <h6 style="color: rgb(0, 0, 0); margin-top: 200px;">VELOCE is an Aesthetic Streetwear label, Designed and made in INDIA. Culture, Art and Modernity are the Brand's three pillars.</h6>
      </div>
    </div>
  </div>
